<div class="header fl-hor fl-ver-center" style="color: #eee;padding-right: 5%;">
  <div class="fl-hor fl-center fl-left" style="width: 270px;">
    <div style="padding:0rem 1rem;" >

      <div xlMenuSwitch [(open)]="isOpen" style="width: 25px;height:25px;--color:white;--duration:300ms;" ></div>
    </div>
    <h2>Xl</h2>
    <h4>-轻量的Angular组件库</h4>
  </div>
  <div class="fl-zoom-1 fl-hor fl-right fl-ver-center">
  </div>
  <div class="fl-hor col-gap-10 ">
    <a [routerLink]="['start']">开始使用</a>
    <a [routerLink]="['theme']">设计规范</a>
    <a [routerLink]="['components']">组件库</a>
    <span>&nbsp;{{isOpen}}&nbsp;</span>
  </div>
 

</div>
<router-outlet></router-outlet>
<div class="footer fl-hor fl-hor-between fl-ver-center">
  <a class="fl-hor fl-center" target="_blank"
    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=52010302002539">
    <img src="assets/images/beian.png" />
    <span>贵公网安备 52010302002539号</span>
  </a>

  <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener">
    <ng-container>黔ICP备2021009832号-1</ng-container>
  </a>

  <a style="text-decoration: none;" href="https://github.com/stypw/xl" target="__blank">
    <span class="fl-hor fl-center">
      <img style="width:22px;height:22px;" src="assets/images/github-circle-white-transparent.svg" />
      <span>&nbsp;GitHub</span>
    </span>
  </a>
</div>