$mainColor:white;
$headerHeight:60px;
$leftWidth:60px;
$footerHeight:60px;
:host-context(.xl-sk-sm,.xl-sk-xs){
    display: grid;
    grid-template-rows: $headerHeight 1fr auto;
    grid-template-columns:$leftWidth 1fr;
    grid-template-areas: 
    "log header"
    "main main"
    "footer footer"
    ;

    

    .log{
        background-color:#1976d2;
    }
    .log-icon{
        display: none;
    }

    .menu-switch{
        display: block;
    }
  
    .left{
        position: fixed;
        z-index: 999;
        grid-area: none;
        top:$headerHeight;
        left:-50vw;
        bottom:0px;
        width:50vw;
        overscroll-behavior: contain;
        -ms-scroll-chaining: contain;
        pointer-events: none;
        overflow-y: auto;
        transition:left 300ms;
        box-shadow: none;
        &.open{
            pointer-events: all;
            left:0vw;
        }
    }
    .mask{
        transition: opacity 300ms;
        &.open{
            pointer-events: all;
            opacity: 1;
        }
    }

    .menu-item{
        width:100%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    
        border-top: 1px solid #ffffff10; 
        position: relative;
        padding-left: 1rem;
        .menu-text-area{
            position:static;
            background-color: transparent;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            opacity: 1;
            pointer-events: none;
            .menu-icon{
                width:auto;
            }
            .menu-text-arrow{
                box-sizing: border-box;
                width:0px;
                height: 0px;
                border-left: 0.6rem solid transparent;
                border-top: 0.4rem solid transparent;
                border-right: 0.6rem solid rgba(47, 190, 233, 1);
                border-bottom: 0.4rem solid transparent;
                display: none;
            }
    
            .menu-text{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
                height: 2rem;
                width:auto;
                white-space: nowrap;
                padding:0rem 1rem;
                background-color: transparent;
                color:white;
                border-radius: 2px;
            }
        }
    }

    .footer{
        padding-left:10%;
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    
    
}