
$headerHeight:4rem;
$footerHeight:2rem;

:host{
    padding-top: $headerHeight;
    padding-bottom: $footerHeight;
}

.header{
    position: fixed;
    left:0rem;
    top:0rem;
    right:0rem;
    height:$headerHeight;
    background-color: #1976d2;
    box-shadow: 1px 1px 6px 1px #1976d260;
}



.footer{
    position: fixed;
    left:0rem;
    height: $footerHeight;
    right:0rem;
    bottom: 0rem;
    
    background-color: #333;
    color:#ccc;
    padding-left:10%;
    padding-right: 10%;
    a{
        text-decoration: none;
        color:#ccc;
        &:hover{
            text-decoration: underline;
        }
    }
}

