:host{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding:20px;
}

.svg-item{
    width: 100px;
    height: 100px;
    padding:10px;
}