:host{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding:20px;
}
.icon-text{
    font-size: 0.6rem;
    max-width: 100%;
    padding:0.2rem 0rem;
    cursor: default;
}
.svg-item{
    width: 100px;
    height: 100px;
    padding:10px;
}

:host-context(body.xl-sk-lg){
    --color:red;
}
:host-context(body.xl-sk-md){
    --color:green;
}
:host-context(body.xl-sk-sm){
    --color:blue;
}
:host-context(body.xl-sk-xs){
    --color:yellowgreen;
}