<div anchor-page>
    <div content-area>
        <h2 #a10>组件说明</h2>
        <h4 #a11>&lt;xlAnchorGroup&gt;</h4>
        <h5 #a12>CSS变量</h5>
        <div xlTable [headers]="headers" [rows]="rows"></div>
        <h5 #a13>Input属性</h5>
        <div xlTable [headers]="headers" [rows]="rows"></div>
        <h5 #a14>Output事件</h5>
        <div xlTable [headers]="headers" [rows]="rows"></div>

        <div style="height: 50vh;"></div>
    </div>
    <div anchor-area>
        <div xlAnchorGroup class="fl-zoom-0 fl-ver anchor-panel">
            <div class="anchor-item" [xlAnchor]="a10" xlTargetActived="actived" xlLinkActived="actived">组件说明
            </div>
            <div class="anchor-item retract-1" [xlAnchor]="a10" xlTargetActived="actived" xlLinkActived="actived">
                xlAnchorGroup</div>
            <div class="anchor-item retract-2" [xlAnchor]="a11" xlTargetActived="actived" xlLinkActived="actived">CSS变量
            </div>
            <div class="anchor-item retract-2" [xlAnchor]="a12" xlTargetActived="actived" xlLinkActived="actived">
                Input属性
            </div>
            <div class="anchor-item retract-2" [xlAnchor]="a13" xlTargetActived="actived" xlLinkActived="actived">
                Output事件
            </div>
            <div class="anchor-item retract-2" [xlAnchor]="a14" xlTargetActived="actived" xlLinkActived="actived">双向绑定
            </div>
            <div class="anchor-item retract-1" xlTargetActived="actived" xlLinkActived="actived">xlAnchor</div>
            <div class="anchor-item retract-2" xlTargetActived="actived" xlLinkActived="actived">CSS变量</div>
            <div class="anchor-item retract-2" xlTargetActived="actived" xlLinkActived="actived">Input属性</div>
            <div class="anchor-item retract-2" xlTargetActived="actived" xlLinkActived="actived">Output事件</div>
            <div class="anchor-item retract-2" xlTargetActived="actived" xlLinkActived="actived">双向绑定</div>
            <div class="anchor-item" xlTargetActived="actived" xlLinkActived="actived">示例</div>
        </div>
    </div>
</div>