<div class="fl-hor" style="padding: 20px;column-gap: 20px;">
    <div class="fl-zoom-1">
        <h3 #a10>组件说明</h3>
        <h4 #a11>xlAnchorGroup</h4>
        <h5 #a12>CSS变量</h5>
        <div xlTable [headers]="headers" [rows]="rows" ></div>
        <h5 #a13>Input属性</h5>
        <div xlTable [headers]="headers" [rows]="rows" ></div>
        <h5 #a14>Output事件</h5>
        <div xlTable [headers]="headers" [rows]="rows" ></div>
    </div>
    <div xlAnchorGroup class="fl-zoom-0 fl-ver anchor-panel">
        <div  class="anchor-item" [xlAnchor]="a10" xlTargetActived="actived" xlLinkActived="actived" xlHash="a10">组件说明</div>
        <div  class="anchor-item retract-1" [xlAnchor]="a10" xlTargetActived="actived" xlLinkActived="actived" xlHash="a10">xlAnchorGroup</div>
        <div  class="anchor-item retract-2" [xlAnchor]="a11" xlTargetActived="actived" xlLinkActived="actived" xlHash="a11">CSS变量</div>
        <div  class="anchor-item retract-2" [xlAnchor]="a12" xlTargetActived="actived" xlLinkActived="actived" xlHash="a12">Input属性</div>
        <div  class="anchor-item retract-2" [xlAnchor]="a13" xlTargetActived="actived" xlLinkActived="actived" xlHash="a13">Output事件</div>
        <div  class="anchor-item retract-2" [xlAnchor]="a14" xlTargetActived="actived" xlLinkActived="actived" xlHash="a14">双向绑定</div>
        <div  class="anchor-item retract-1"  xlTargetActived="actived" xlLinkActived="actived" xlHash="a10">xlAnchor</div>
        <div  class="anchor-item retract-2"  xlTargetActived="actived" xlLinkActived="actived" xlHash="a11">CSS变量</div>
        <div  class="anchor-item retract-2"  xlTargetActived="actived" xlLinkActived="actived" xlHash="a12">Input属性</div>
        <div  class="anchor-item retract-2"  xlTargetActived="actived" xlLinkActived="actived" xlHash="a13">Output事件</div>
        <div  class="anchor-item retract-2"  xlTargetActived="actived" xlLinkActived="actived" xlHash="a14">双向绑定</div>
        <div  class="anchor-item"  xlTargetActived="actived" xlLinkActived="actived" xlHash="a15">示例</div>
    </div>
</div>