<div class="fl-hor">
    <div class="fl-zoom-1">
        <h3 #a10>锚点10</h3>
        <div style="height: 20vh;"></div>
        <h3 #a11>锚点11</h3>
        <div style="height: 20vh;"></div>
        <h3 #a12>锚点12</h3>
        <div style="height: 20vh;"></div>
        <h3 #a13>锚点13</h3>
        <div style="height: 20vh;"></div>
        <h3 #a14>锚点14</h3>
        <div style="height: 20vh;"></div>
        <h3 #a15>锚点15</h3>
        <div style="height: 20vh;"></div>
        <h3 #a16>锚点16</h3>
        <div style="height: 20vh;"></div>
        <h3 #a17>锚点17</h3>
        <div style="height: 20vh;"></div>
        <h3 #a18>锚点18</h3>
        <div style="height: 20vh;"></div>
        <h3 #a19>锚点19</h3>
        <div style="height: 20vh;"></div>

        <h3 #a20>锚点20</h3>
        <div style="height: 20vh;"></div>
        <h3 #a21>锚点21</h3>
        <div style="height: 20vh;"></div>
        <h3 #a22>锚点22</h3>
        <div style="height: 20vh;"></div>
        <h3 #a23>锚点23</h3>
        <div style="height: 20vh;"></div>
        <h3 #a24>锚点24</h3>
        <div style="height: 20vh;"></div>
        <h3 #a25>锚点25</h3>
        <div style="height: 20vh;"></div>
        <h3 #a26>锚点26</h3>
        <div style="height: 20vh;"></div>
        <h3 #a27>锚点27</h3>
        <div style="height: 20vh;"></div>
        <h3 #a28>锚点28</h3>
        <div style="height: 20vh;"></div>
        <h3 #a29>锚点29</h3>
        <div style="height: 20vh;"></div>
    </div>
    <div xlAnchorGroup
        style="row-gap: 10px; padding:10px;width: 200px;height:300px;background-color: rgb(66, 243, 214);position: sticky;top:120px;color:white;"
        class="fl-zoom-0 fl-ver">

        <a [xlAnchor]="a10" xlTargetActived="actived" xlLinkActived="actived" xlHash="a10">锚点10</a>
        <a [xlAnchor]="a11" xlTargetActived="actived" xlLinkActived="actived" xlHash="a11">锚点11</a>
        <a [xlAnchor]="a12" xlTargetActived="actived" xlLinkActived="actived" xlHash="a12">锚点12</a>
        <a [xlAnchor]="a13" xlTargetActived="actived" xlLinkActived="actived" xlHash="a13">锚点13</a>
        <a [xlAnchor]="a14" xlTargetActived="actived" xlLinkActived="actived" xlHash="a14">锚点14</a>
        <a [xlAnchor]="a15" xlTargetActived="actived" xlLinkActived="actived" xlHash="a15">锚点15</a>
        <a [xlAnchor]="a16" xlTargetActived="actived" xlLinkActived="actived" xlHash="a16">锚点16</a>
        <a [xlAnchor]="a17" xlTargetActived="actived" xlLinkActived="actived" xlHash="a17">锚点17</a>
        <a [xlAnchor]="a18" xlTargetActived="actived" xlLinkActived="actived" xlHash="a18">锚点18</a>
        <a [xlAnchor]="a19" xlTargetActived="actived" xlLinkActived="actived" xlHash="a19">锚点19</a>

        <a [xlAnchor]="a20" xlTargetActived="actived" xlLinkActived="actived" xlHash="a20">锚点20</a>
        <a [xlAnchor]="a21" xlTargetActived="actived" xlLinkActived="actived" xlHash="a21">锚点21</a>
        <a [xlAnchor]="a22" xlTargetActived="actived" xlLinkActived="actived" xlHash="a22">锚点22</a>
        <a [xlAnchor]="a23" xlTargetActived="actived" xlLinkActived="actived" xlHash="a23">锚点23</a>
        <a [xlAnchor]="a24" xlTargetActived="actived" xlLinkActived="actived" xlHash="a24">锚点24</a>
        <a [xlAnchor]="a25" xlTargetActived="actived" xlLinkActived="actived" xlHash="a25">锚点25</a>
        <a [xlAnchor]="a26" xlTargetActived="actived" xlLinkActived="actived" xlHash="a26">锚点26</a>
        <a [xlAnchor]="a27" xlTargetActived="actived" xlLinkActived="actived" xlHash="a27">锚点27</a>
        <a [xlAnchor]="a28" xlTargetActived="actived" xlLinkActived="actived" xlHash="a28">锚点28</a>
        <a [xlAnchor]="a29" xlTargetActived="actived" xlLinkActived="actived" xlHash="a29">锚点29</a>s
    </div>
</div>