/* You can add global styles to this file, and also import other style files */
@import "./scss/common.scss";
@import "./scss/anchor.scss";
@import "./scss/theme.scss";
*{
    box-sizing: border-box;
}

html{
    margin:0px;
    padding:0px;
}

body{
    margin:0px;
    padding:0px;
    font-size: 0.6rem;
}

